html {
    font-size: 62.5%;
}

body {
    color: var(--main-text-color);
    font-family: 'Open Sans';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: var(--main-fon); 
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One';
    color: var(--title-color); 
}

.container {
    width: var(--container);
    max-width: var(--container-max);
    margin: auto;
}