.header {
    width: 100%;
    padding: 18px 0px 0px;
}
.main-logo {  
    width: 436px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-logo__img {
    width: 270px;
    img {
        width: 100%;
        height: auto;
    }
}
.main-logo__line {
    width: 1px;
    height: 33px;
    background: var(--light);
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
}
.main-logo__title {
    width: 148px;
    color: var(--title-color);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 112.5%;
    margin-top: 20px;
}
.contacts-block {
}
.contacts-block__pfone {
    a {
        display: inline-block;
        color: var(--main-text-color);
        font-family: 'Russo One';
        font-size: clamp(18px, 5vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
}
.contacts-block__link {
    a {
        color: var(--title-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
    }
}