.hero {
    width: 100%;
    padding: 35px 0px 75px;
    background: url(../img/hero-fon.png) no-repeat 654px top;
    background-size: contain;
    @media (max-width: 1024px) {
        background: url(../img/hero-fon.png) no-repeat 523px top;
    }
    @media (max-width: 834px) {
        background: url(../img/hero-fon.png) no-repeat 447px top;
    }
    .btn {
        @media (max-width: 375px) {
            padding: 20px;
        }
    }
}
.main-block {
    width: 530px;
    max-width: 100%; 
}
.main-block__header {
}
.container-flex {
}
.f-w-w {
}
.j-c-sb {
}
.main-block__info {
    &:first-child {
        @media (max-width: 425px) {
            margin-bottom: 20px;
        }
    }
    span {

        &:first-child {
            width: 81px;
            margin-bottom: 7px;
            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &:last-child {
            color: var(--main-text-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}
.main-block__title {
}
.main-title {
}
.sub-title {
    width: 300px;
    color: var(--main-text-color);
    font-size: clamp(17px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-block__footer {
    width: 395px;
    max-width: 100%;
    text-align: center;
    div {
        &:last-child {
            p {
                color: var(--main-text-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
