.price {
    width: 100%;
    padding: 46px 0;
    background: #2194ff0d;
    .scroll-bottom {
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        z-index: 10;
    }
}

.price__block {
    &:nth-child(1), &:nth-child(3) {
        width: 260px;
    }
    h3 {
        color: var(--main-text-color);
        font-family: 'Russo One';
        font-size: clamp(22px, 5vw, 36px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    h4 {
        font-size: clamp(18px, 5vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.price__caption {
    p {
        color: var(--main-text-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}
.price__block_center {
    .price__header {
        h3 {
            color: var(--main-text-color);
            font-family: 'Russo One';
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            opacity: 0.7;
            margin-bottom: 13px;
        }
        &>div {
            width: 210px;
            margin: 0 auto 15px;
            div:not(.price__header .line) {
                width: 80px;
                span {
                    display: block;
                    &:first-child {
                        color: rgba(241, 241, 241, 0.70);
                        font-family: Russo One;
                        font-size: clamp(25px, 5vw, 36px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    &:last-child {
                        color: rgba(241, 241, 241, 0.70);
                        font-family: 'Russo One';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
        .line {
            width: 1px;
            height: 51px;
            background: rgba(241, 241, 241, 0.30);
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}
