:root {
    --main-text-color: #F1F1F1;
    --darck: #2D2D2D;
    --light: #ffffff;
    --gray: rgba(241, 241, 241, 0.70);
    --title-color: #2194FF;
    --main-fon: #2D2D2D;
    --main-fon-2: #2194FF;
    --fon-2: #3A3C26;
    --btn-fon: #2194FF;
    --tab-fon: gba(241, 241, 241, 0.20);
    --container: 1140px;
    --container-max: 95%;
}